#App {
  background-color: #181818;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.container {
  padding: 10px 100px;
}

.head {
  display: flex;
  justify-content: center;
  height: 70px;
  width: 100%;
  padding: 10px;
  background-color: #202020;
}

.no-data {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
}